@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
 
@media (min-width:1008px){
    body{
        background: #E5E5E5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    #container{
        width: 55% ;
        height: auto;
        background-color:#FFFFFF ;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: -20px;
        position: relative;
    }
    
    .detaile {
        width: 48%;
        padding: 0 50px 50px;
        margin-top: 160px;
        line-height: 12px;
        position: relative;
    }

    #information{
        width: 30%;
        margin-top: 160px;
    }

    .header{
        background-color: white;
        z-index: 10;
        position: fixed;
        top: 0;
        width: 46%;
        padding: 0 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .title-name{
        padding: 30px 0px;
        color:black;
        font-family: Arial;
        font-size: 16px;
    }
    
    .picture img {
        width: 72px;
        height: 72px;
        border-radius: 300px;
        margin-right: 120px;
    }

    
    .detaile .title{
        color: #73808D;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-family: Arial;
        font-size: 7px;
        font-style: normal;
    }
    
    .paragraph{
        color:#101214;
        font-size: 11px;
        font-family: Arial;
        font-weight: 420px;
        line-height: 18px;
        text-align: left;
        letter-spacing: 0px;
    }
    
    .paragraph ul li{
        line-height: 12px;
        color:#101214;
        font-size: 11px;
        font-family: Arial;
        font-weight: 420px;
        text-align: left;
        letter-spacing: 0px;
    }
    
    .title-info{
        color: #73808D;
        font-family: Arial;
        font-size: 7px;
        font-style: bold;
        font-weight: 400;
    }
    
    .defineInfo{
        color:#73808D;
        font-size: 11px;
        font-family: Arial;
        font-weight: 420px;
        line-height: 14px;
        text-align: left;
        letter-spacing: 0px;
    }
}

@media (max-width:1007px){
    body{
        background: #E5E5E5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    #container{
        width: 80% ;
        height: auto;
        background-color:#FFFFFF ;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: -20px;
        position: relative;
    }
    
    .detaile {
        width: 48%;
        padding: 0 50px 50px;
        margin-top: 160px;
        line-height: 12px;
        position: relative;
    }

    #information{
        width: 30%;
        margin-top: 160px;
    }

    .header{
        background-color: white;
        z-index: 10;
        position: fixed;
        top: 0;
        width: 47%;
        padding: 0 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .title-name{
        padding: 30px 0px;
        color:black;
        font-family: Arial;
        font-size: 16px;
    }
    
    .picture img {
        width: 72px;
        height: 72px;
        border-radius: 300px;
    }

    
    .detaile .title{
        color: #73808D;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-family: Arial;
        font-size: 7px;
        font-style: normal;
    }
    
    .paragraph{
        color:#101214;
        font-size: 11px;
        font-family: Arial;
        font-weight: 420px;
        line-height: 18px;
        text-align: left;
        letter-spacing: 0px;
    }
    
    .paragraph ul li{
        line-height: 12px;
        color:#101214;
        font-size: 11px;
        font-family: Arial;
        font-weight: 420px;
        text-align: left;
        letter-spacing: 0px;
    }
    
    .title-info{
        color: #73808D;
        font-family: Arial;
        font-size: 7px;
        font-style: bold;
        font-weight: 400;
    }
    
    .defineInfo{
        color:#73808D;
        font-size: 11px;
        font-family: Arial;
        font-weight: 420px;
        line-height: 14px;
        text-align: left;
        letter-spacing: 0px;
    }
}

@media (max-width:700px){
    body{
        background: #E5E5E5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    #container{
        width: 100% ;
        height: auto;
        background-color:#FFFFFF ;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: -20px;
        position: relative;
    }
    
    .detaile {
        width: 100%;
        padding: 0 50px 50px;
        margin-top: 160px;
        line-height: 12px;
        position: relative;
    }

    #information{
        width: 100%;
        margin-top: 0px;
        padding: 0 50px 50px;
    }

    .header{
        background-color: white;
        z-index: 10;
        position: fixed;
        top: 0;
        width: 80%;
        padding: 0 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .title-name{
        padding: 30px 0px;
        color:black;
        font-family: Arial;
        font-size: 16px;
    }
    
    .picture img {
        width: 72px;
        height: 72px;
        border-radius: 300px;
    }

    
    .detaile .title{
        color: #73808D;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-family: Arial;
        font-size: 7px;
        font-style: normal;
    }
    
    .paragraph{
        color:#101214;
        font-size: 11px;
        font-family: Arial;
        font-weight: 420px;
        line-height: 18px;
        text-align: left;
        letter-spacing: 0px;
    }
    
    .paragraph ul li{
        line-height: 12px;
        color:#101214;
        font-size: 11px;
        font-family: Arial;
        font-weight: 420px;
        text-align: left;
        letter-spacing: 0px;
    }
    
    .title-info{
        color: #73808D;
        font-family: Arial;
        font-size: 7px;
        font-style: bold;
        font-weight: 400;
    }
    
    .defineInfo{
        color:#73808D;
        font-size: 11px;
        font-family: Arial;
        font-weight: 420px;
        line-height: 14px;
        text-align: left;
        letter-spacing: 0px;
    }
}   