@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    background: #E5E5E5;
}
#container{
    width: 45% ;
    height: auto;
    background-color:#FFFFFF ;
    display: flex;
    flex-direction: row;
    margin-top: -20px;
   
    margin-left: 350px;
}
.header{
    background-color: #ffff;
    width: 42% ;
    height: auto;
    position: fixed;
}
.title-name{
    padding: 70px 50px;
    color:black;
    font-family: Arial;
    font-size: 16px;
   }
   .title-name p{
       margin-top: -16px;
   }
   .picture{
       margin-left: 394px;
       margin-top: -150px;
   }
   .picture img{
       width: 72px;
       height: 72px;
       border-radius: 300px;
   }
   .detaile{
    width:290px;
    height: 630px;
    /* background-color: cadetblue; */
    margin-left: 50px;
    margin-top: 160px;
    line-height: 12px;
}
.detaile .title{
    color: #73808D;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: Arial;
    font-size: 7px;
    font-style: normal;
}

.paragraph{
    color:#101214;
    font-size: 11px;
    font-family: Arial;
    font-weight: 420px;
    line-height: 18px;
    text-align: left;
    letter-spacing: 0px;
}
.paragraph ul li{
    line-height: 12px;
    color:#101214;
    font-size: 11px;
    font-family: Arial;
    font-weight: 420px;
    text-align: left;
    letter-spacing: 0px;
}
#information{
 /* background-color: #175fa7; */
 width: 30%;
 height: 500px;
 margin-top: 160px;
 margin-left: 40px;

}
.title-info{
        color: #73808D;
        font-family: Arial;
        font-size: 7px;
        font-style: bold;
        font-weight: 400;
    }
.defineInfo{
    color:#73808D;
    font-size: 11px;
    font-family: Arial;
    font-weight: 420px;
    line-height: 14px;
    text-align: left;
    letter-spacing: 0px;
}
 


/* 
@media screen and (max-width:768px){
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   .containerAll{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  .title-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 72px;
    border-radius: 300px;
}
   .picture img{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center; 
     align-items: center;
    margin:auto;
    

   }
}   */